/* -- custom css for file datatypes_displayer.html -- */

/* -- lead mb-1 text-muted text-uppercase -- */
#p-2483 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2484 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2485 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2583 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2932 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2586 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2486 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-5184 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2588 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2589 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2964 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2965 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2970 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2971 {
	font-size: 11px;
}

/* -- dbexpress-field ml-1 mt-0 text-white font-weight-bold -- */
#obj-2973 {
	font-size: 13px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2975 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2999 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2976 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-3001 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2882 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2892 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2951 {
	font-size: 11px;
}

/* -- dbexpress-field dbexpress-image img-zoom -- */
#div-2961 {
	width: 48px;
	 height: 48px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2903 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2990 {
	font-size: 11px;
}

/* -- lead mb-1 text-muted text-uppercase -- */
#obj-2981 {
	font-size: 11px;
}

