/* -- custom css for file repeater_filter_button.html -- */

/* -- col dbexpress-search-filter button button-round button-fill -- */
#button-1583 {
	font-size: 11px;
}

/* -- col dbexpress-search-filter button button-round button-fill -- */
#obj-1674 {
	font-size: 11px;
}

/* -- col dbexpress-search-filter button button-round button-fill -- */
#obj-1675 {
	font-size: 11px;
}

/* -- dbexpress-field text-black text-center -- */
#obj-1579 {
	font-size: 15px;
}

